
.also {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .headers {
    text-align: center;
    font-family: $font;
    color: $header;
  }
  .main_also {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 70%;
    .img_also {
      max-width: 40%;
      margin-right: 17%;
    }
    .text_also {
      color: $text;
    }
    .head_also {
      padding-bottom: 3%;
      font-weight: bolder;
      color: $header;
    }
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .main_also {
  max-height: 30%;
  font-size: 70%;
  }
}
