.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  .nuage-1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
  .nuage-2, .nuage-3, .nuage-4 {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .bulles {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }
  .slogan {
    font-family: $font;
    font-weight: bolder;
    font-size: 190%;
    color: white;
    position: absolute;
    top: 15%;
  }
  .catch_phrase {
    font-family: $font;
    color: white;
    font-size: 100%;
    width: 50%;
    position: absolute;
    top: 22%;
    z-index: 1031;
  }
  .iphone_1 {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width:18%;
  }
}

.navbar-wagon-right {
  a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    &:hover {
      color: $yellow;
    }
  }
}

.form_mail {
  margin-top: 10px;
  z-index: 1031;
}


@media screen and (min-width: 375px) {
  .catch_phrase {
    margin-top: 10px !important;
    max-width: 100%;
    font-size: 90% !important;
    p {
      margin-top: 1rem;
     }
  }
  .slogan {
    font-size: 100%;
    font-size: 150% !important;
  }
}
/* Smartphones (portrait et paysage) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .banner {
    height: 650px;
  }
  .iphone_1 {
    min-width: 30%;
  }
  .catch_phrase {
    margin-top: 10px;
    max-width: 44% !important;
  }

}

 /* Smartphones (paysage) ----------- */
@media only screen and (min-width : 321px) {
  .iphone_1 {
    max-width: 18%;
  }
  .catch_phrase {
    margin-top: 10px;
    max-width: 60% !important;
  }
 }

 @media only screen
and (min-device-width : 480px)
and (max-device-width : 768px) {
  .iphone_1 {
    min-width: 30%;
  }
  .banner {
    background-attachment: scroll;
  }
}

 /* Smartphones (portrait) ----------- */
 @media only screen and (max-width : 320px) {
  .iphone_1 {
    min-width: 10%;
  }
}

/* iPads (portrait et paysage) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .iphone_1 {
    max-width: 20%;
  }
  .catch_phrase {
    font-size: 90%;
  }
}

/* iPads (paysage) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : paysage) {
  .iphone_1 {
    max-width: 30%;
    min-width: 20%;
  }
}

/* PC bureau et PC portable ----------- */
@media only screen
and (min-width : 1224px) {
  .iphone_1 {
    max-width: 12%;
  }
  .slogan {
    font-size: 190% !important;
    margin-top: 20px;
  }
  .catch_phrase {
    margin-top: 10px;
    max-width: 90% !important;
  }
}


