.background-banner{
  position: relative;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  h1 {
    color: white;
    font-family: Fjalla+One;
    font-weight: 400px;
    font-size: 50px;
    margin: 0;
    padding: 0;
  }
}

.plaquette {
  background-color: $blue;
  position: absolute;
  bottom:0;
  right: 10%;
}




