.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  .slogan {
    // align-items: center;
    // justify-content: center;
    // text-align: center;
    font-family: $font;
    font-weight: bolder;
  }
  .catch_phrase {
    // align-items: center;
    // justify-content: center;
    // text-align: center;
    font-family: $font;
    width: 50%;
  }
}
