.main_ccn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  .content {
    text-align: center;
    font-family: $font;
    .headers {
      color: $header;
      font-family: $font;
    }
    .text {
      color: $text;
    }
  }
  .sub_content {
    display: flex;
    justify-content: space-around;
    position: relative;
    .headers_list {
      margin: 30px 0;
    }
    .list {
      margin: 0 1%;
      ul {
        padding: 0 15%;
        li {
          padding-left: 5%;
          color: $text;
        }
      }
    }
  }
  .sub_headers {
    text-align: center;
    .img_logo {
      max-height: 60px;
    }
  }
}

.list_2:after {
    content: "";
    background-color: rgb(230, 230, 230);
    position: absolute;
    width: 1px;
    height: 80%;
    top: 30px;
    display: block;
    }
