.main_ccn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  .content {
    text-align: center;
    font-family: $font;
    .headers {
      color: $header;
      font-family: $font;
    }
    .text {
      color: $text;
    }
  }
  .sub_content {
    display: flex;
    justify-content: space-around;
    max-height: 100%;
    position: relative;
    .headers_list {
      margin: 10% 0;
    }
    .vertical {
      display: flex;
      position: absolute;
      top: 15%;
      width: 1px;
      height: 75%;
      border-left: 1px solid rgb(240, 240, 240);
    }
    .list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 5%;
      max-height: 70vh !important;
      ul > li {
        color: $text;
        padding-left: 5%;
      }
    }
    .list_1 {
      // margin-right: 5%;
    }
  }
  .sub_headers {
    text-align: center;
    max-width: 100%;
    .img_logo {
      max-width: 50%;
    }
  }
}




@media (min-width: 576px) {
  .main_ccn {
    max-height: 70vh;
  }
}

@media (min-width: 768px) {
  .main_ccn {
    max-height: 70vh;
  }
}

@media (min-width: 992px) {
  .main_ccn {
    max-height: 70vh;
  }
}

@media (min-width: 1200px) {
  .main_ccn {
    max-height: 70vh;
  }
}















