.main_ccn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  .content {
    text-align: center;
    font-family: $font;
    .headers {
      color: $header;
      font-family: $font;
    }
    .text {
      color: $text;
    }
  }
  .sub_content {
    display: flex;
    justify-content: space-around;
    max-height: 100%;
    position: relative;
    .headers_list {
      margin: 2rem 0;
    }
    .vertical {
      display: flex;
      position: absolute;
      top: 15%;
      width: 1px;
      height: 75%;
      border-left: 1px solid rgb(240, 240, 240);
    }
    .list {
      display: flex;
      flex-direction: column;
      margin: 0 5%;
      max-height: 70vh !important;
      ul > li {
        color: $text;
        padding-left: 5%;
      }
    }
    .list_1 {
      // margin-right: 5%;
    }
  }
  .sub_headers {
    text-align: center;
    max-width: 100%;
    .img_logo {
      // max-width: 40px;
    }
  }
}
footer .footer-right ul > li, footer .footer-right a{
  display:inline-block;
}

/* Smartphones (portrait et paysage) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  ul > li {
    font-size: 12px;
  }
  h3.headers {
    font-size: 0.9rem;
  }
  .main_ccn {
    height: 80vh;
  }
}

/* Smartphones (paysage) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait et paysage) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

// /* iPads (paysage) ----------- */
// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px)
// and (orientation : paysage) {
// /* Styles */
// }

// /* iPads (portrait) ----------- */
// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px)
// and (orientation : portrait) {
// /* Styles */
// }

// /* PC bureau et PC portable ----------- */
// @media only screen
// and (min-width : 1224px) {
// /* Styles */
// }

// /* Ecran large ----------- */
// @media only screen
// and (min-width : 1824px) {
// /* Styles */
// }

// /* iPhone 4 ----------- */
// @media
// only screen et  et  et (-webkit-min-device-pixel-ratio : 1.5),
// only screen et  et  et (min-device-pixel-ratio : 1.5) {
// /* Styles */
// }













