.contact {
  height: 100vh;
}

.catch_phrase_contact {
  color: white;
  z-index: 1031;
}

.contact_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.contact_content {
  margin-top: 2rem;
  text-align: center;
  z-index: 1031;
}
.indicates-required {
  display: none;
}
i {
  color: red;
}
.lighter {
    font-weight: lighter !important;
  }
.button_contact {
  background-color: $yellow;
  margin-top: 1rem;

}
.form-inline {
  justify-content: center;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 576px) {
  .banner_contact {
    height: 110vh;
    margin-top: 30px;
  }
  .form-inline .form-control {
    width: 100% !important;
  }
  label {
    color: $header;
  }
}

@media only screen
and (min-device-width : 576px)
and (max-device-width : 770px) {
  .banner_contact {
    height: 100vh;
  }
  .form-inline .form-control {
    width: 100% !important;
  }
  label {
    color: $header;
  }
}

 @media only screen
and (min-device-width : 770px)
and (max-device-width : 990px) {
  .banner_contact {
    height: 100vh;
  }
  .form-inline .form-control {
    width: 100% !important;
  }
  label {
    color: $header;
  }
}

 @media only screen
and (min-device-width : 990px)
and (max-device-width : 1700px) {
  .form-inline .form-control {
    width: 60% !important;
    margin: 0.5rem 0;
  }
  label {
    color: $header;
  }
}
