.contact {

}

.contact_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.contact_content {
  margin-top: 2rem;
  text-align: center;
  z-index: 1031;
}
.indicates-required {
  display: none;
}
i {
  color: red;
}
.lighter {
    font-weight: lighter !important;
  }
.button_contact {
  background-color: $yellow;
  margin-top: 1rem;

}

.contact_block {
  // display: flex !important;
  // justify-content: center !important;
  // flex-direction: column !important;
  // align-items: center !important;
  // flex-grow: 1 !important;
}

// .width_block {
//   width: 130%;
// }

 @media only screen
and (min-device-width : 320px)
and (max-device-width : 1700px) {
  .form-inline .form-control {
    width: 60% !important;
    margin: 0.5rem 0;
  }
  label {
    color: $header;
  }
}
