footer {
  background-color: rgb(52, 62, 89);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer-right {
    width: 100%;
    height: 100%;
    text-align: right;
    margin-right: 10px;
    padding: 0;
    ul > li, a {
      text-decoration: none;
      color: white;
      list-style: none;
      // max-height: 100%;
      margin: 0 0.2rem;
      &:hover {
        color: $yellow;
      }
    }
    ul {
      margin: 0;
    }
  }
  .footer_logo {
      display: flex;
      justify-content: left;
      align-items: center;
      height: 100%;
      p {
        margin-bottom: 0px;
        font-size: 80%;
      }
    }
  .logo {
    width: 50%;
  }
  p {
    color: white;
  }
}

a.unkubator {
  color: white;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

 @media only screen
and (min-device-width : 320px)
and (max-device-width : 990px) {
  .footer_logo {
    .logo {
    }
    p {
      font-size: 10px!important;
    }
  }
}
