footer {
  background-color: rgb(52, 62, 89);
  height: 10vh;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer-right {
    width: 100%;
    text-align: right;
    margin-right: 10px;
    ul > li, a {
      text-decoration: none;
      color: white;
      list-style: none;
      max-height: 100%;
      &:hover {
        color: $yellow;
      }
    }
  }
  .footer_logo {
      display: flex;
      justify-content: left;
      align-items: center;
      height: 100%;
      p {
        margin-bottom: 0px;
      }
    }
  .logo {
    max-width: 20%;
  }
  p {
    color: white;
  }
}
