
.form_mail {
  width: 100%;
  z-index: 1031;
}

.form_contact_scroll {
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    background-color: $yellow !important;
    font-family: $font;
    color: white;
    margin-left: 10px;
  }
  input, .placeholder {
  text-align: center;
  font-family: $font;
}
}
