.nav_vertical {
  background-color: rgb(250, 250, 250);
  // height: calc(100vh - 70px);
  position: sticky;
  top: 70px;
  margin-top: 70px;
  min-height: 100vh;
  a {
    color: $header !important;
    text-decoration: none;
  }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: $yellow !important;
  color: white !important;
}

 @media only screen
and (min-device-width : 320px)
and (max-device-width : 990px) {
  .nav-link, a {
    font-size: 10px !important;
  }
}
