
.navbar-fixed-top.scrolled {
    background-color: red !important;
    transition: background-color 200ms linear;
  }

.navbar-wagon {
  position: fixed;
  z-index: 10;
  background: transparent !important;
  background-color: transparent !important;
}

.navbar {
  width: 100%;
}
.nav-link {
  color: white !important;
  font-size: 14px !important;
  font-weight: lighter !important;
  &:hover {
  color: $yellow !important;
  }
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}
