.price_content {
  .headers_price {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header_price {
      text-align: center;
      h2 {
        color: $header;
      }
      p {
        color: $text;
      }
    }
    .price_explication {
      max-width: 70%;
      p {
        color: $text;
      }
    }
  }
  .argument {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30%;
    height: 100%;
    position: relative;
    .euro {
      position: absolute;
      top: 20px;
      left: -10px;
      font-size: 20px;
    }
    .argument_1 {
      font-size: 100%;
      color: $yellow;
      margin-right: 5%;
      h1 {
        font-size: 150px;
        font-weight: lighter;
      }
    }
    .argument_2 {
      p {
        color: $text;
      }
    }
  }
  .price_table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    .card-group {
      width: 80%;
      .card {
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 0px 16px 120px 2px rgba(50, 50, 50, 0.14), 0 6px 100px 5px rgba(50, 50, 50, 0.12), 0 8px 10px -7px rgba(50, 50, 50, 0.2);
        .element_0 {
          background-color: rgb(241, 248, 253);
          color: rgb(100, 184, 249);
        }
        .element_1 {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(52, 62, 89);
          color: white;
        }
        .element_2 {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(100, 184, 249);
        }
        .element_3 {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(241, 248, 253);
          color: rgb(100, 184, 249);
        }

      }
    }
    .litle_card {
      height: 40%;
      background-color: blue;
    }
  }
}
.card_1 {
  margin-top: 83px;
  }
.card_2 {
  margin-right: 2%;
}
.card-title, h4 {
  font-size: 95%;
}















