.security_content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  justify-content: center;
  .cards_security {
    display: flex;
    justify-content: center;
    height: 50%;
    max-width: 80%;
    .card {
      height: 100%;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:hover {
        box-shadow: 0px 16px 120px 2px rgba(50, 50, 50, 0.14), 0 6px 100px 5px rgba(50, 50, 50, 0.12), 0 8px 10px -7px rgba(50, 50, 50, 0.2);
        height: 101%;
      }
      .picto_security {
        display: flex;
        align-items: center;
        max-width: 27%;
        min-height: 50%;
      }
      .transaction {
        max-width: 20%;
      }
      .card_text {
        text-align: center;
        padding: 0 10%;
        margin-bottom: 10%;
        color: $header;
        p {
          color: $text;
        }
      }
    }
  }
  .security_headers {
    color: white;
    text-align: center;
    margin-bottom: 3%;
  }
}
