.card-price {
  max-width: 100%;
  min-height: 270px;
  margin-bottom: 150px !important;
  &:hover {
    box-shadow:0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    border: 1px solid $yellow;
  }
  .picto_security {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 27%;
      max-height: 70px;
      margin-bottom: 2rem;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
        color: $text;
      }
      h4 {
        text-align: center;
      }
    }
}

.security_content {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  background-size: cover;
  height: 100%;
}
.cards_security {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 80px;
}

.transaction {
  // max-height: 50px !important;
}
.security_headers {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 3%;
    color: white;
  }

@media only screen
and (min-device-width : 320px)
and (max-device-width : 576px) {
  .card-price {
    margin-bottom: 10px !important;
    width: 350px;
    padding: 0;
  }
  .security_content {
    height: 1300px;
  }
}

@media only screen
and (min-device-width: 576px)
and (max-device-width: 770px)  {
  .card-price {
    margin-bottom: 23px !important;
    width: 560px;
  }
  .card-security {
    padding: 0;
  }
  .security_content {
    height: 1300px;
  }
}

@media only screen
and (min-device-width: 770px)
and (max-device-width: 990px)  {
  .card-price {
    margin-bottom: 23px !important;
  }
  .security_content {
    height: 1000px;
  }
}
