
.use {
  height: 100vh;
  .picto {
    max-width: 6%;
    margin-right: 5%;
  }
  .use_q {
    color: white;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 4%;
  }
  .logos {
    max-width: 35%;
  }
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .card_use {
      width: 40%;
      // max-height: 30vh;
      background-color: white;
      border-radius: 5px;
      padding: 3%;
      .content_card {
        display: flex;
      }
    }
  }
}

.text {
  color: $text;
}

.headers {
  color: $header;
}

/* Smartphones (portrait et paysage) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .use {
    height: 80vh;
  }
  .card_use {
  max-height: 30%;
  font-size: 70%;
  }
}

/* Smartphones (paysage) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

// /* iPads (portrait et paysage) ----------- */
// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px) {
// /* Styles */
// }

// /* iPads (paysage) ----------- */
// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px)
// and (orientation : paysage) {
// /* Styles */
// }

// /* iPads (portrait) ----------- */
// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px)
// and (orientation : portrait) {
// /* Styles */
// }

// /* PC bureau et PC portable ----------- */
// @media only screen
// and (min-width : 1224px) {
// /* Styles */
// }

// /* Ecran large ----------- */
// @media only screen
// and (min-width : 1824px) {
// /* Styles */
// }

// /* iPhone 4 ----------- */
// @media
// only screen et  et  et (-webkit-min-device-pixel-ratio : 1.5),
// only screen et  et  et (min-device-pixel-ratio : 1.5) {
// /* Styles */
// }
