<section>
  <div class="background-banner">
    <div class="navbar-wagon">
      <a href="/" class="navbar-wagon-brand">
        <figure>
          <img src="assets/images/bleumoustache-logo.png" alt="logo" style=" height: 35px;">
        </figure>
      </a>
      <div class="navbar-wagon-right">
        <a href="http://www.charleshenriponiard.com/" class="navbar-wagon-item navbar-wagon-link" target="_blank" >site</a>
      </div>
    </div>
    <div class="banner" style="background-image: url('assets/images/banner-2.jpg')">
      <h1> Charles-henri Poniard</h1>
    </div>
    <a href="assets/images/depliant_internet_2018.pdf" download="Plaquette_2018" class="btn btn-primary plaquette">Télécharger PDF</a>
  </div>
</section>
