
<section class="presentation">
  <div class="row imgAvatar no-gutters">
    <div class="col-xs-2">
      <figure>
        <img src='assets/images/avatar.jpg' class="avatar">
      </figure>
    </div>
  </div>
  <div class="row presentation_content no-gutters">
    <div class="col-xs-2">
      <figure>
        <img src="assets/images/quotations.svg" class="quotations"/>
      </figure>
    </div>
    <div class="col-xs-5">
      <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo dolore dignissimos distinctio veniam facilis culpa earum temporibus, perferendis modi natus ab corrupti inventore, provident suscipit quibusdam quasi similique. Nihil, pariatur.</p>
    </div>
    <div class="col-xs-5">
      <figure>
        <img src="assets/images/trio.png" class="trio"/>
      </figure>
    </div>
  </div>
</section>
