<section>
  <div class="row section-price">
    <div class="pricing-body">
      <h2>Simplement</h2>
      <div class="price">
        <span class="currency">€</span>
        <span class="value">1000</span>
      </div>
      <ul class="pricing-features">
        <li>Cérémoie civile</li>
        <li>Cérémonie religieuse</li>
        <li>Vin d'honneur</li>
        <li>Photo de couple</li>
      </ul>
    </div>
    <div class="pricing-body active">
      <h2>Enormement</h2>
      <div class="price">
        <span class="currency">€</span>
        <span class="value">1350</span>
      </div>
      <ul class="pricing-features">
        <li>Préparatif</li>
        <li>Cérémoie civile</li>
        <li>Cérémonie religieuse</li>
        <li>Vin d'honneur</li>
        <li>Photo de couple</li>
      </ul>
    </div>
    <div class="pricing-body">
      <h2>A la folie</h2>
      <div class="price">
        <span class="currency">€</span>
        <span class="value">1750</span>
      </div>
      <ul class="pricing-features">
        <li>Préparatif</li>
        <li>Cérémoie civile</li>
        <li>Cérémonie religieuse</li>
        <li>Vin d'honneur</li>
        <li>Photo de couple</li>
        <li>Repas</li>
      </ul>
    </div>
    <div class="pricing-body">
      <h2>Pour la vie</h2>
      <div class="price">
        <span class="currency">€</span>
        <span class="value">2700</span>
      </div>
      <ul class="pricing-features">
        <li>Préparatif</li>
        <li>Cérémoie civile</li>
        <li>Cérémonie religieuse</li>
        <li>Vin d'honneur</li>
        <li>Photo de couple</li>
        <li>Repas</li>
        <li>After party</li>
      </ul>
    </div>
  </div>
</section>
